.vscode/**
.vscode-test/**
.gitignore
vsc-extension-quickstart.md
.vscode/**
**/*.ts
**/*.map
**/*.pdf
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
client/node_modules/**
.eslintignore
# !client/node_modules/vscode-jsonrpc/**
# !client/node_modules/vscode-languageclient/**
# !client/node_modules/vscode-languageserver-protocol/**
# !client/node_modules/vscode-languageserver-types/**
# !client/node_modules/{minimatch,brace-expansion,concat-map,balanced-match}/**
# !client/node_modules/{semver,lru-cache,yallist}/**

node_modules/**
client/**
#client/out/test/**
!client/out/*.js
server/**
#server/out/test/**
!server/out/*.js
syntaxes/*.yaml
!syntaxes/*.json
testjob/**

node_modules/**

